<% layout('/layouts/boilerplate') %>

    <h1 class="heading-1">Raimei Hakke API</h1>
    <form id="form">
        <div class="mb-3">
            <label for="searchKeyword" class="form-label">Search Keyword</label>
            <input type="text" class="form-control" id="searchKeyword" value="one piece chapter 1080" required>
        </div>
        <div class="mb-3">
            <label for="subreddit" class="form-label">Subname</label>
            <input type="text" class="form-control" id="subreddit" value="onepiece" required>
        </div>
        <div class="mb-3">
            <label for="limit" class="form-label">Limit</label>
            <input type="number" class="form-control" id="limit" placeholder="10" value="10">
        </div>
        <button class="btn btn-warning" type="submit">Search</button>
    </form>
    <h1 class="heading-1">Search Results</h1>
    <section class="card shadow p-3 mb-3 bg-body rounded" id="searchResults"></section>
    <script>
        // Select the form and section to make dynamic changes
        const form = document.querySelector('#form');
        const section = document.querySelector('section');
        form.addEventListener('submit', (e) => {

            // Prevent default submission of data through form
            e.preventDefault();

            // Remove existing data from Section if there is any

            while(section.firstChild){
                section.removeChild(section.lastChild);
            }

            // Pull data from form
            const searchKeyword = document.querySelector('#searchKeyword').value;
            const subreddit = document.querySelector('#subreddit').value;
            const limit = document.querySelector("#limit").value;

            // Construct the API endpoint URL
            const url = `https://www.reddit.com/r/${subreddit}/search.json?q=${searchKeyword}&limit=${limit}`;

            // Make a GET request to the endpoint using fetch()
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // Handle the search results
                    const posts = data.data.children;
                    // console.log(`Found ${posts.length} posts containing "${searchKeyword}"`);
                    posts.forEach(post => {
                        console.log(post);
                        const div = document.createElement('div');
                        const h2 = document.createElement('h2');
                        div.append(h2);
                        const a = document.createElement('a');
                        h2.append(a);
                        a.append(`${post.data.title}`);
                        a.setAttribute("href", `https://www.reddit.com/${post.data.permalink}`);
                        a.setAttribute("target", "_blank");
                        const p = document.createElement('p');
                        p.innerHTML = `<b>Author:</b> ${post.data.author}
                        <br>
                        <b>Subreddit:</b> ${post.data.subreddit}`;
                        div.append(p);
                        const hr = document.createElement('hr');
                        div.append(hr);
                        section.append(div);
                    });
                })
                .catch(error => {
                    console.error(`Error performing search: ${error}`);
                });
        });
    </script>